{%- for grade in grades -%}
    <a onclick="showHideGrade({{grade}})" href="#" style="font-size: 45px; color: black" class="grade" id="grade{{grade}}">{% if lang == "en" %}Grade {% elif lang == "hi" %}Standard (पद) {% endif %}{{ grade }}</a>
    {%- for board in grade_boards[grade] -%}
        <div id="grade{{grade}}-container">
            <ul class="boards grade{{grade}}" id="grade{{grade}}-{{loop.index}}">
                <li class="board" id="grade{{grade}}-{{board.lower()}}"><a style="font-size: 37px" href="#" onclick="getBoard({{grade}}, '{{board.lower()}}')">{{ board.upper() }}</a></li>
            </ul>
        </div>
    {%- endfor -%}
{%- endfor -%}
