<div class="accordion" id="grade-list">
    {%- for board in boards %}
        <div class="card" id="gradecard{{board}}">
            <div class="card-header" data-toggle="collapse" aria-controls="collapse-grade{{board}}" data-target="#collapse-grade{{board}}" id="grade{{board}}">
                <h4 id="grade{{board}}" class="mb-0" style="text-align: center !important; margin: 0 auto;">
                        {{board.upper()}}
                </h4>
            </div>
            <div id="collapse-grade{{board}}" class="collapse {% if loop.index == 1 %}show{% endif %}" aria-labelledby="grade{{board}}" data-parent="#grade-list">
                <div class="card-body grade-container">
                    {%- for grade in grades -%}
                        {%- if board in grade_boards[grade] -%}
                            <a href="/learn.html?grade={{grade}}&board={{board.lower()}}" class="grade-btn card-link btn btn-block btn-lg">Grade {{grade}}</a>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    {%- endfor -%}
</div>